<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include resource="org/springframework/boot/logging/logback/defaults.xml" />
	<include resource="org/springframework/boot/logging/logback/console-appender.xml" />
	<include resource="org/springframework/cloud/gcp/autoconfigure/logging/logback-appender.xml" />
 	<include resource="org/springframework/cloud/gcp/autoconfigure/logging/logback-json-appender.xml" />

<!--     <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n
            </Pattern>
        </layout>
    </appender>
 -->	
    <logger name="com.aiocdawacs" level="DEBUG" additivity="false">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="STACKDRIVER"/>
    </logger>

	<root level="INFO">
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="STACKDRIVER" />
	</root>

</configuration>
